<%- include('../partials/navbar') %>

<style>
    body {
        background-image: url('../assets/main.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section lightgold h1">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <p class="mb-4 text-center h4 lightw">Have an account?</p>
                    <form action="#" class="signin-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input id="password-field" type="password" class="form-control" placeholder="Password" required>
                            <span toggle="#password-field" class="fa fa-fw far-fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3 social">Sign In</button>
                        </div>
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </form>

                    <p class="w-100 text-center">&mdash; Sign up for an account &mdash;</p>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container px-4 py-5 text-center">
    <main class="form-signin w-100 m-auto">
        <form>
          <img class="mb-4" src="../assets/edtgraphics-128.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
        </form>
      </main>
</div> -->


<!-- <div class="signin__container">
    
    <form action="/auth/login" method="POST">
        <label for="auth-email">Email</label>
        <input id="auth-email" type="email" name="email" required>
    
        <label for="auth-password">Password</label>
        <input id="auth-password" type="password" name="password" required>
    
        <input type="submit" value="Log In">
    </form>
    
</div> -->

<!-- <%- include('../partials/footer') %>  -->