<%- include('../partials/navbar') %>

<style>
    body {
        background-image: url('../assets/main.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<!-- <div id="mainNavigation">
    <nav role="navigation">
      <div class="py-3 text-center border-bottom">
        <img src="/static_files/images/logos/logo_3_white_2.png" alt="" class="invert">
      </div>
    </nav>
    <div class="navbar-expand-md">
      <div class="navbar-dark text-center my-2">
        <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>
      </div>
      <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Book Hotel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Policy</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Blog</a></li>
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Contact us</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div> -->


<section class="ftco-section align-middle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section lightgold h1">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <p class="text-center h4 lightw">Have an account?</p><br>

                    <form action="/auth/login" class="signin-form" method="POST">
                        <div class="form-floating mb-3">
                            
                            <input id="floatingInput" type="email" name="email" class="form-control" placeholder="Email" required>
                            <label for="floatingInput" class="lightw">Email Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="floatingPassword" type="password" name="password" class="form-control" placeholder="Password" required>
                            <label for="floatingPassword" class="lightw">Password</label>
                        </div>

                            <button type="submit" class="form-control btn btn-primary submit text__shadow">Sign In</button>
                    </form>

                    <p class="w-100 text-center my-5"><a class="nav-link lightw hover__gold" href="/signup">&mdash; Sign up for an account &mdash; </a></p>


                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>  