<%- include('../partials/navbar') %>

<style>
    body {
        background-image: url('../assets/main.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<section class="ftco-section align-middle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section lightgold h1">Don't be a stranger.</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <p class="text-center h4 lightw">Take us with you on your journey </p>
                        <p class="text-center h3 lightw">Create an account.</p><br>

                    <form action="/auth/signup" class="signin-form" method="POST">
                        <div class="form-floating mb-3">
                            
                            <input id="floatingInput" type="text" name="name" class="form-control" placeholder="Username" required>
                            <label for="floatingInput" class="lightw">Name</label>
                        </div>

                        <div class="form-floating mb-3">
                            
                            <input id="floatingInput" type="email" name="email" class="form-control" placeholder="Email" required>
                            <label for="floatingInput" class="lightw">Email Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="floatingPassword" type="password" name="password" class="form-control" placeholder="Password" required>
                            <label for="floatingPassword" class="lightw">Password</label>
                            
                        </div>

                        

                            <button type="submit" class="form-control btn btn-primary submit text__shadow">Sign Up</button>
                    </form>

                    <p class="w-100 text-center my-5"><a class="nav-link lightw" href="/login">&mdash; Sign in to your account &mdash; </a></p>


                </div>
            </div>
        </div>
    </div>
</section>



<!-- <form action="/auth/signup" method="POST">
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name" required>

    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>
  
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>
  
    <input type="submit" value="Sign up">
</form> -->
  