<div class="mt-auto">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/pomoapp.js"></script>
  <script type="text/javascript" src="js/todo-checkbox.js"></script>
    <footer class="d-flex flex-wrap justify-content-end py-2 mt-auto" style="margin-top: 6rem;">
    <p class="justify-content-end " style="color: rgb(252, 238, 193); font-size: 0.7rem; margin-right:1.6rem; margin-bottom:0;">&copy; 2022 Helena Wu</p>
  </footer>
</div>