<div class="mt-auto">
  <script type="text/javascript" src="views/partials/pomo/pomoapp.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <footer class="d-flex flex-wrap justify-content-end py-2 mt-auto" style="margin-top: 6rem;">
      <p class="justify-content-end " style="color: rgb(252, 238, 193); font-size: 0.7rem; margin-right:1.6rem; margin-bottom:0;">&copy; 2022 Helena Wu</p>
  </footer>
</div>