
<!-- <p class="logo__font text__shadow">Flourish</p> -->

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="../assets/dDara-logo-128.png" alt="logo" width="70" height="64" style="margin: 0.2rem">
            <span class="align-baseline display-2 logo__styling lightgold">Flourish</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse flex-grow-1" id="collapsingNavbar">
            <ul class="navbar-nav ms-auto flex-nowrap text-uppercase text-end align-items-end">
                    <li class="nav-item">
                        <a class="nav-link lightw" href="/">Home</a></li>

                <% if (!currentUser) {%>
                    <li class="nav-item">
                        <a class="nav-link lightw" href="/auth/signup">Signup</a></li>
                    <li class="nav-item">
                        <a class="nav-link lightw" href="/auth/login">Login</a></li>
        
                    <% } else { %>
                    <li class="nav-item">    
                        <a class="nav-link lightw" href="/main">My page</a></li>
                    <li class="nav-item">
                        <a class="nav-link lightw" href="/profile">Profile</a></li>
                    <li class="nav-item">
                        <a class="nav-link lightw" href="/auth/logout">Logout</a></li>

                <% } %>
            </ul>
        </div>
    </div>
</nav>

