

<!-- <h2>Todo page</h2> -->


<div class="container">
<% if(Array.isArray(todo.tasks) && todo.tasks.length > 0) { %>
<% todo.tasks.forEach(function(task) { %>
    <div class="well">
      <h2>
        <form action="./todo/<%= task.id %>?_method=PUT" method="POST">
          <input type="checkbox" id="taskdone" name="complete" value=<%= task.complete %>>
          <span>task: <%= task.title %></span>
        </form>
      </h2>

    </div>
  <% }) %>
  <% } else { %>
    <div class="panel-body">
      No Tasks...
    </div>
<% } %>

  <% if(Array.isArray(todo.notes) && todo.notes.length > 0) { %>
    <% todo.notes.forEach(function(note) { %>
      <div class="well">
        <h2>
          <p><%= note.comment %> </p>
        </h2>

      </div>
    <% }) %>
  <% } else { %>
    <div class="panel-body">
      No Notes...
    </div>
<% } %>

<form action="./todo/task" method="POST">
  <input type="text" id="title" name="title" placeholder="input task" required>
  <button type="submit" class="btn btn-primary">add task</button>
</form>
</div>