<!-- <h2>Todo page</h2> -->

<div class="container containerbg px-4 rounded__corners hover__blackbox">
  <% if(Array.isArray(todo.tasks) && todo.tasks.length > 0) { %> <%
  todo.tasks.forEach(function(task) { %> <% if (task.complete !== true) { %>
  <div class="well">
    <h2>
      <form action="./todo/task/<%= task.id %>" method="POST">
        <input type="checkbox" name="complete" onChange="this.form.submit()" <%
        if (task.complete === true) {%> checked <% } %> value="<%= task.complete
        %>" />
        <span class="task__style"> <%= task.title %></span>
      </form>
    </h2>
  </div>
  <% } %> <% }) %> <% } else { %>
  <div class="panel-body">Yay! Nothing to do!</div>
  <% } %>

  <!-- <form action="./todo/task" method="POST" class="form-control">
      <input type="text" id="title" name="title" placeholder="input task" required>
      <button type="submit" class="btn btn-primary task__btn">add task</button>
    </form> -->

  <form action="./todo/task" method="POST">
    <div
      class="form-floating input-group d-flex justify-content-center align-items-center py-3"
    >
      <input
        id="floatingInput"
        type="title"
        name="title"
        class="form-control taskform__style"
        placeholder="Enter task .."
        required
      />
      <label for="floatingInput" class="lightw">Enter task</label>
      <button type="submit" class="btn btn-primary task__btn">add task</button>
    </div>
  </form>
</div>
