/* nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
} */

/*
GREENS - dark to light
grey black bg - 1C1F1D
dark green bg - 334038
warm dark - 183216
dark accent - 767A62
light accent - 7C9D7B
warm light - F1FBF3
cool light - F9FFFA
main green - 8FBA91


ACCENTS
light bg (yellow) - F5F0E6
dark blue - 1A196B
warm brown - 71442B

*/

.wdgreen {
  color: #183216;
}

.lightw {
  color:wheat;
  /* color: #F1FBF3 */
}

.lightgold {
    color:rgb(255, 204, 111);
    /* color: #F1FBF3 */
}

.warmlg {
  color: #F1FBF3;
}

.daccentg {
  color: #767A62;
}

.maing {
  color: #8FBA91;
}



body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color:wheat;
  text-shadow: 0.10rem 0.10rem 0.2rem rgba(0, 0, 0, 0.5);

}

.bg-teal {
  background-color: var(--bs-teal);
  opacity: 25%;
}

/* p {
  font-size: 16px;
} */

img {
  filter: drop-shadow(0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5));
}


.containerbg {
  background-color: rgba(0, 0, 0, 0.3);
  /* padding: 1rem; */
}

/* font styling */
.text__shadow {
  text-shadow: 0.10rem 0.10rem 0.2rem rgba(0, 0, 0, 0.5);
}
.logo__styling {
  font-family: 'Alex Brush', cursive;
  font-size: 5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.logo__font {
  font-family: 'Alex Brush', cursive;
  font-size: 7rem;
}

.brand__state {
  margin: 3rem;
  margin-top: 7rem;
  padding-top: 2rem;
}

.brand__emph {
  font-family: 'Alex Brush', cursive;
  font-size: 5rem;
}

/* sign-in */
.login-wrap {
  position: relative;
  color: rgba(255, 255, 255, 0.9); }
  .login-wrap h3 {
    font-weight: 300;
    color: #fff; }

    .login-wrap .social {
    width: 100%; }

    .login-wrap .social a {
      width: 100%;
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.4);
      color: #000;
      background: #fff; }
      
    .login-wrap .social a:hover {
      background: #000;
      color: #fff;
      border-color: #000; }

.form-group {
  position: relative; 
  margin: 1rem;
}

.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.9); }

  .form-control {
    background: transparent;
    border: none;
    height: 50px;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.8) !important; }
    .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.8) !important; }
    .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.8) !important; }
    .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.8) !important; }
    .form-control:hover, .form-control:focus {
      background: transparent;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: rgba(255, 255, 255, 0.4); }
    .form-control:focus {
      border-color: rgba(255, 255, 255, 0.4); }
  
  textarea.form-control {
    height: inherit !important; }
  
  .checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0; }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  
  /* Show the checkmark when checked */
  .checkbox-wrap input:checked ~ .checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2); }
  
  /* Style the checkmark/indicator */
  .checkbox-primary {
    color: #fbceb5; }
    .checkbox-primary input:checked ~ .checkmark:after {
      color: #fbceb5; }
  
  .btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    text-transform: uppercase; }
    .btn:hover, .btn:active, .btn:focus {
      outline: none; }
    .btn.btn-primary {
      background: #fbceb5 !important;
      border: 1px solid #fbceb5 !important;
      color: #000 !important; }
      .btn.btn-primary:hover {
        border: 1px solid #fbceb5;
        background: transparent;
        color: #fbceb5; }
      .btn.btn-primary.btn-outline-primary {
        border: 1px solid #fbceb5;
        background: transparent;
        color: #fbceb5; }
        .btn.btn-primary.btn-outline-primary:hover {
          border: 1px solid transparent;
          background: #fbceb5;
          color: #fff; }
  




/* end signin */

.txt__indent {
  text-indent: 11rem;
}

.defn__style {
  width: 50rem;
  text-align: left;
}

.align__right {
  text-align: right;
}

.margin {
  margin-bottom: 45px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  border: 0;
  border-radius: 0;
  margin-bottom: 5rem;
  font-size: 12px;
  letter-spacing: 5px;
  /* border-bottom:1px solid #334038;  */
  /* background-color: #f1fbf3; */
  /* box-shadow: 0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.1); */
}
.nav-item  li a:hover {
  color: #767a62;
}

.navbar-nav .active {
  color: red;
}

.col__style {
  margin: 2rem;
  border: 1px solid red;
  width: 30%;
}
