/* nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
} */

/*
GREENS - dark to light
grey black bg - 1C1F1D
dark green bg - 334038
warm dark - 183216
dark accent - 767A62
light accent - 7C9D7B
warm light - F1FBF3
cool light - F9FFFA
main green - 8FBA91


ACCENTS
light bg (yellow) - F5F0E6
dark blue - 1A196B
warm brown - 71442B

*/

.wdgreen {
  color: #183216;
}

.lightw {
  color: wheat;
  /* color: #F1FBF3 */
}

.lightgold {
  color: rgb(255, 204, 111);
  /* color: #F1FBF3 */
}

.warmlg {
  color: #f1fbf3;
}

.daccentg {
  color: #767a62;
}

.maing {
  color: hsl(123, 24%, 65%);
}

body {
  font: 1.5rem Montserrat, sans-serif;
  line-height: 1.8;
  color: wheat;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  background-color: black;
}

.bg-teal {
  background-color: var(--bs-teal);
  opacity: 25%;
}

/* p {
  font-size: 16px;
} */

img {
  filter: drop-shadow(0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5));
}

.containerbg {
  background-color: rgba(0, 0, 0, 0.5);

  /* padding: 1rem; */
}
.rounded__corners {
  border-radius: 1rem;
}

/* font styling */
.text__shadow {
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.logo__styling {
  font-family: "Alex Brush", cursive;
  font-size: 5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.logo__font {
  font-family: "Alex Brush", cursive;
  font-size: 7rem;
}

.brand__state {
  margin: 3rem;
  margin-top: 7rem;
  padding-top: 2rem;
  width: 80%;
}

.brand__emph {
  font-family: "Alex Brush", cursive;
  font-size: 3em;
}

/* 

sign-in 
============================================ */
.login-wrap {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}
.login-wrap h3 {
  font-weight: 300;
  color: #fff;
}

.login-wrap .social {
  width: 100%;
}

.login-wrap .social a {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
}

.login-wrap .social a:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.form-group {
  position: relative;
  /* margin: 1rem; */
}

.form-control {
  background: transparent;
  border: none;
  height: 50px;
  color: white !important;
  border: 1px solid rgba(196, 174, 115, 0.465);
  background: rgba(255, 255, 255, 0.063);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.form-control:hover,
.form-control:focus {
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.4);
}

.form-control:focus {
  border-color: rgba(255, 255, 255, 0.4);
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent !important;
}
textarea.form-control {
  height: inherit !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.btn {
  cursor: pointer;
  border-radius: 40px;
  filter: drop-shadow(0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5)) !important;
  font-size: 15px;
  text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn-primary {
  background: rgb(255, 204, 111) !important;
  border: 2px solid #b88526 !important;
  color: #000 !important;
}

.btn-primary:hover {
  border: 1px solid #130f0d !important;
  background-color: rgb(0, 0, 0) !important;
  color: rgb(221, 161, 50) !important;
  font-weight: 800 !important;
}

.submit {
  width: 18rem;
  height: 3rem;
  margin-top: 4rem;
}

.signin-form {
  text-align: center;
}

label {
  font-size: medium;
}

/* end signin */

.txt__indent {
  text-indent: 11rem;
}

.defn__style {
  width: 50rem;
  text-align: left;
}

.align__right {
  text-align: right;
}

.margin {
  margin-bottom: 45px;
}

.mb-8 {
  margin-bottom: 8rem;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  border: 0;
  border-radius: 0;
  /* margin-bottom: 8rem; */
  font-size: 12px;
  letter-spacing: 5px;
  /* border-bottom:1px solid #334038;  */
  /* background-color: #f1fbf3; */
  /* box-shadow: 0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.1); */
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.logo__hover:hover {
  /* box-shadow: 0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5); */
  -webkit-filter: drop-shadow(0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.18rem 0.18rem 0.2rem rgba(0, 0, 0, 0.5));
}

.hover__black:hover {
  color: black;
}

.hover__gold:hover {
  color: rgb(248, 194, 103);
}

.hover__blackbox:hover {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.1em);
  border: 0.5px solid black;
}

/* .navbar-nav .active {
  color: red;
} */

.col__style {
  margin: 2rem;
  border: 1px solid red;
  width: 30%;
}

.list-group-item-action:hover {
  color: rgb(246, 205, 133);
  background-color: rgba(0, 0, 0, 1);
}

/*
User main styling
================================ */

.task__style {
  font-size: 1.5rem;
}

.task__btn {
  border-radius: 0 40px 40px 0 !important;
}

.taskform__style {
  border-radius: 40px 0 0 40px !important;
  /* max-width: 10rem; */
  max-height: 2.5rem;
}

/*

Alert styling
================================ */

.alert__custom {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #b88526 !important;
  border-radius: 0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

/*

Pomoapp styling
================================ */

/* body {
	background-color: rgb(51, 51, 51);
	color: white;
	font-family: Helvetica Neue, Arial, sans;
	font-weight: 200;
	text-align: center;
} */

h1 {
  font-weight: 200;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 1.3em;
}

button:disabled {
  color: rgba(128, 128, 128, 32);
}

.controls-block {
  display: inline-block;
  margin: 0 10px 0 10px;
}

/*.controls-block > * {
	border: 1px dotted orange;
}*/

.controls-label {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;
}

.control-value {
  font-size: 2em;
}

.controls-block > button {
  background-color: transparent;
  color: white;
  font-size: 1.5em;
  min-width: 32px;
  vertical-align: bottom;
}


#clock-counter {
  font-size: 4em;
  text-align: center;
  margin: auto;
  line-height: 88%;
  /* border: 1px solid red; */
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
}

#clock-container > button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1em;
  /* min-width: 95px; */
}

/* #clock-label {
	margin-top: -20px;
	font-size: 2em;
} */

#outer {
  width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  overflow: hidden;

  position: relative;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#inner,
#inner div {
  z-index: -1;
  width: 100%;
  overflow: hidden;
  left: -1px;
  position: absolute;
}

#inner {
  border-top-width: 0;
  background-color: rgb(154, 202, 39);

  bottom: 0;
  height: 0%;
}
