<div class="d-flex flex-wrap justify-content-center">
	<div id="controls" class="d-flex">
		<div class="text-center mx-2">
			<p><span class='controls-label'>Break Length<span></p>
			<button id="break-minus">&#8722;</button>
			<span id="break-indicator" class="control-value">5</span>
			<button id="break-plus">&#43;</button>
		</div>
		<div class="text-center mx-2">
			<p><span class='controls-label'>Session Length</span></p>
			<button id="session-minus">&#8722;</button>
			<span id="session-indicator" class="control-value">25</span>
			<button id="session-plus">&#43;</button>
		</div>		
	</div>

	<!-- <div id="clock-container"> -->

		<!-- <div id="clock-content d-flex align-items-center">
			<div id="clock-label" class="h4">Session</div>
			<div id="clock-counter">25</div>
			<button id="clock-button">Start</button>
			<button id="reset-button" disabled>Reset</button>
		</div> -->

		<div class="d-flex flex-wrap justify-content-center text-center">
			<p class="display-6">Session</p>
			<div id="clock-counter" class="mb-4">25</div>
			<div class="d-flex justify-content-center mb-2">
				<button id="clock-button" class="text__shadow">Start</button>
				<button id="reset-button" disabled>Reset</button>
			</div>
		</div>
	<!-- </div> -->

</div>


