<div class="container">
	<div id="controls">
		<div id="break-timer" class="controls-block">
			<p><span class='controls-label'>Break Length<span></p>
			<button id="break-minus">&#8722;</button>
			<span id="break-indicator" class="control-value">5</span>
			<button id="break-plus">&#43;</button>
		</div>
		<div id="session-timer" class="controls-block">
			<p><span class='controls-label'>Session Length</span></p>
			<button id="session-minus">&#8722;</button>
			<span id="session-indicator" class="control-value">25</span>
			<button id="session-plus">&#43;</button>
		</div>		
	</div>

	<div id="clock-container" >
		<div id="inner"></div>

		<div id="clock-content">
			<div id="clock-label">Session</div>
			<div id="clock-counter">25</div>
			<button id="clock-button">Start</button>
			<button id="reset-button" disabled>Reset</button>
		</div>
	</div>

</div>


