<div class="d-flex flex-wrap justify-content-center rounded__corners hover__blackbox">
	<div id="controls" class="d-flex">
		<div class="text-center mx-2 mt-1">
			<p><span class="controls-label" style="line-height:1px">Break Length<span></p>
			<button id="break-minus" class="hover__black">&#8722;</button>
			<span id="break-indicator" class="control-value" style="line-height:1px; margin:0">5</span>
			<button id="break-plus" class="hover__black">&#43;</button>
		</div>
		<div class="text-center mx-2 mt-1">
			<p><span class='controls-label' style="line-height:1px">Session Length</span></p>
			<button id="session-minus" class="hover__black">&#8722;</button>
			<span id="session-indicator" class="control-value" style="line-height:1px; margin:0">25</span>
			<button id="session-plus" class="hover__black">&#43;</button>
		</div>		
	</div>

	<!-- <div id="clock-container"> -->

		<!-- <div id="clock-content d-flex align-items-center">
			<div id="clock-label" class="h4">Session</div>
			<div id="clock-counter">25</div>
			<button id="clock-button">Start</button>
			<button id="reset-button" disabled>Reset</button>
		</div> -->

		<div class="d-flex flex-wrap justify-content-center align-middle text-center mt-3">
			<p class="display-6" style="color:white">Session</p>
			<div id="clock-counter" class="mb-4 lightgold">25</div>
			<div class="d-flex justify-content-center mt-5 mb-4">
				<button id="clock-button" class="btn btn-primary mx-2">Start</button>
				<button id="reset-button" class="btn btn-primary mx-2" disabled>Reset</button>
			</div>
		</div>
	<!-- </div> -->

</div>


