
<style>
    body {
        background-color: black;
    }
</style>

<p class="w-100 text-center my-5"><a class="nav-link lightw" href="/signup">Oops.. you weren't supposed to be here. Click here to go back</a></p>

<img src="../assets/404.jpg" alt="trex dancing by waterfall" class="w-100">
