
<style>
    body {
        background-color: black;
    }
</style>


<p>404: File not Found</p>

<p class="w-100 text-center my-5"><a class="nav-link lightw" href="/signup">Nothing to see here .. move along now. Click here to go back</a></p>

<img src="../assets/404.jpg" alt="Barney Stinson says: Noooo" class="w-100">
