<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h2>Homepage</h2>

<form action="/auth/login" method="POST">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email" required>
  
    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" required>
  
    <input type="submit" value="Log In">
</form>


<div class="text-bg-primary p-3">Primary with contrasting color</div>
<div class="text-bg-secondary p-3">Secondary with contrasting color</div>
<div class="text-bg-success p-3">Success with contrasting color</div>
<div class="text-bg-danger p-3">Danger with contrasting color</div>
<div class="text-bg-warning p-3">Warning with contrasting color</div>
<div class="text-bg-info p-3">Info with contrasting color</div>
<div class="text-bg-light p-3">Light with contrasting color</div>
<div class="text-bg-dark p-3">Dark with contrasting color</div>

<%- include('../partials/footer') %>