

<!-- <div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <form action="/auth/login" method="POST">
            <label for="auth-email">Email</label>
            <input id="auth-email" type="email" name="email" required>
        
            <label for="auth-password">Password</label>
            <input id="auth-password" type="password" name="password" required>
        
            <input type="submit" value="Log In">
        </form>
    </div>
</div> -->

<style>
    body {
        background-image: url('../assets/main.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>


    <div class="container text__shadow">
        <h1 class="lightgold logo__font">Flourish</h1>
        <h5 class="lightw">/fləriSH/</h5>
        <p class="lightw">(of a person, animal, or other living organism) grow or develop in a healthy 
            or vigorous way, especially as the result of a particularly favorable environment.
        </p>
    </div>
    
<div class="container containerbg text__shadow defn__style">

    <div class="brand__state text__shadow text-center">
        <p class="lightw text__shadow">
            Every journey can be long, winding and arduous, <br>
            <span class="lightgold">Flourish</span> is a bridge between here and there <br>
            A bridge between who you are and who you want to be 
        </p><br>

            <p class="text-start lightw">To <span class="brand__emph" style="color:wheat">Inspire</span></p>
            <p class="text-start lightw txt__indent"> To <span class="brand__emph" style="color:wheat">Kickstart </span> your day</p>
            
            <p class="lightw">And help you become the person you most want to be. </p><br>

    </div>

</div>