<%- include('../partials/navcollapsed') %>

<style>
    body {
        background-image: url('../assets/main2.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<!-- This is the landing page after you log in -->


<div class="container mt-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

<!-- spotify html embed -->
        <div class="feature col">
            <h3 class="fs-2">Music</h3>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM?utm_source=generator&theme=0" 
            width="90%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; 
            picture-in-picture" loading="lazy"></iframe>      
        </div>

<!-- todo partial -->
        <div class="feature col">
            <h3 class="fs-2">Todo</h3>
            <%- include('../partials/todo') %> 
        </div>

<!-- pomodoro partial -->
        <div class="feature col">
            <h3 class="fs-2">Pomodoro</h3>
            <div class="containerbg">
                <%- include('../partials/pomo/pomodoro') %> 
                <!-- <p class="p-4">Placeholder for a pomodoro timer that includes adjustable work and break minutes. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis arcu a venenatis tempor. Suspendisse potenti. Proin non consectetur ante.</p> -->
            </div>
        </div>

<!-- Shortcuts -->
        <div class="feature col">
            <div class="list-group">
                <h3 class="fs-2">Shortcuts</h3>
                <a href="https://mail.google.com" target="_blank" class="list-group-item list-group-item-action containerbg lightgold">
                    <img src="../assets/icons/gmail2-rajdev.png" width="50rem"style="margin:0.5rem"/>
                    Email
                </a>
                <a href="https://calendar.google.com/" target="_blank" class="list-group-item list-group-item-action containerbg lightgold">
                    <img src="../assets/icons/calendar-iconking1.png" width="50rem"style="margin:0.5rem"/>
                    Calendar
                </a>
                <a href="https://zoom.us" target="_blank" class="list-group-item list-group-item-action containerbg lightgold">
                    <img src="../assets/icons/zoom-iconking1.png" width="50rem"style="margin:0.5rem"/>
                    Zoom
                </a>
                <a href="https://google.com" target="_blank" class="list-group-item list-group-item-action containerbg lightgold">
                    <img src="../assets/icons/chrome-rajdev.png" width="50rem"style="margin:0.5rem"/>
                    Google
                </a>
                <a href="https://github.com" target="_blank" class="list-group-item list-group-item-action containerbg lightgold">
                    <img src="../assets/icons/github-mohammadhaq.png" width="50rem"style="margin:0.5rem"/>
                    Github
                </a>
            </div>
        </div>




        <!-- <div class="feature col">
            <h3 class="fs-2">Shortcuts</h3>
            <ul class="list-group containerbg">
                <li class="list-group-item"><img src="../assets/icons/gmail2-rajdev.png" width="50rem"style="margin:0.5rem"/>Email</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div> -->

        <!-- api partial -->    
        <div class="feature col flex-fill">
            <h3 class="fs-2">Motivation Station</h3>
            <div class="containerbg">
                <p class="p-4">Placeholder for a quotes api that randomly generates quotes off a public db. <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis arcu a venenatis tempor. Suspendisse potenti. Proin non consectetur ante. Mauris id egestas nulla. </p>
            </div>
        </div>





    </div>  <!-- end row container -->





</div> <!-- feature container end -->

