<%- include('../partials/navbar') %>

<style>
    body {
        background-image: url('../assets/am-pexels-ylanite-koppens-796601.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<div class="container align-middle containerbg">
<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<p>UserID: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>

</div>
